.group {
    display: flex;
    line-height: 28px;
    align-items:end;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    height: 40px;
    margin-left: 60%;
    line-height: 28px;
    padding: 0 1rem;
    width: 30%;
    padding-left: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border: 0;
    transition: box-shadow 0.15s ease;
  }
  
  
  