.input {
    margin: 0;
width: 390%;
height: 100%;
padding: 10px 12px;
color: #8898aa;
font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
}