.input {
    margin: 0;
width: 390%;
height: 100%;
padding: 10px 12px;
color: #8898aa;
font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
}

.color{
 background: rgba(0, 0, 0, 0.274) ;
filter: grayscale(5px);
}

.custom-accordion-button {
  background-color: #00000000;
  color: #000000;
  border: 1px solid #0000;
  display: flex;
  justify-content: center;
  margin-left: 35%;
}

.custom-accordion-button:hover {
  color: #47a44b;
  
}

.tooltip-inner {
  background-color: #000;
  color: #ffffff;
}

